@mixin card {
	background: $bg-sec;
	border-radius: 15px;
	box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2),
		0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);

	margin-bottom: 1em;
	padding: 15px;

	@media screen and (min-width: 800px) {
		width: 680px;
	}

	@media screen and (max-width: 799px) {
		margin: 0 1em 1em 1em;
		.main-top,
		.events-main {
			width: 100%;
		}
	}
}
