@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

$bg-pri: #18191b;
$bg-sec: #ebecec;

$header: #040708;
$txt: #040708;

$pri: #415a77;
$sec: #778da9;
