@import "./variables";

body {
	background: $bg-pri;
}

#app-main,
body {
	margin: 0;

	display: flex;
	align-content: center;
	justify-content: center;
}

#app-main,
#root {
	margin: 0 auto;
}

#root {
	margin-top: 1em;
}
