@import "./variables";

body {
	background: $bg-pri;
}

#app-main,
body {
	margin: 0;
}

#app-main,
#root {
	margin: 0 auto;
}

#root {
	margin-top: 1em;
}

.content {
	display: flex;
	align-content: center;
	justify-content: center;
}

.MuiButtonGroup-root[role="group"] {
	display: flex;
	align-content: center;
	justify-content: center;

	padding: 0 1em;

	// border-radius: 15px;

	margin: 0 auto 1em auto !important;

	@media screen and (min-width: 800px) {
		width: 710px;
	}

	@media screen and (max-width: 799px) {
		// padding: 0 1em;
		.main-top,
		.events-main {
			width: 100%;
		}
	}
	#navbtn1 {
		border-radius: 15px 0 0 15px !important;
	}
	#navbtn3 {
		border-radius: 0 15px 15px 0 !important;
	}
}

.nav-btn {
	background-color: $bg-sec !important;
	color: $txt !important;
	// height: 4em;

	width: 50%;

	span > svg {
		height: 3em;
		width: 3em;
	}
}
