@import "./variables";
@import "./mixins";

.events-main {
  @include card;
  font-family: "Open Sans", sans-serif;
  height: fit-content;

  & > h1 {
    text-align: center;
    color: $txt;
    margin: 0;
  }
}

#event-contents {
  display: grid;
  grid-template-columns: 1fr 4fr;
  color: $txt;

  h1 {
    text-align: center;
    font-size: 26px;
  }
  h2 {
    text-align: center;
    margin: auto 0;
  }
  p {
    margin: 1em 0;
  }
}
