@import "./variables.scss";
@import "./mixins.scss";

#container {
  margin: 0;
  padding: 0;
}

.main-top {
  @include card;
}

#title {
  color: $txt;
  text-align: center;
  font-family: "Open Sans", sans-serif;

  margin: 3em 0;

  h1 {
    margin: 0;
  }
}

#klokke {
  font-size: 52px;
  font-family: "Montserrat", sans-serif;
}
#dato {
  font-size: 40px;
}

#uke {
  font-size: 32px;
}
