@import "./variables.scss";
@import "./mixins.scss";

#container {
	margin: 0;
	padding: 0;
}

.main-top {
	@include card;
}

#title {
	height: 100%;
	width: 100%;

	display: flex;
	justify-content: center;
	align-content: center;
	flex-direction: column;

	color: $txt;
	text-align: center;
	font-family: "Open Sans", sans-serif;

	h1,
	h2 {
		margin: 0;
	}

	h1 {
		font-size: 3rem;
	}
	h2 {
		font-size: 2rem;
	}
}

#klokke {
	font-size: 52px;
	font-family: "Montserrat", sans-serif;
}
#dato {
	font-size: 40px;
}

#uke {
	font-size: 32px;
}
